:root {
  --section-color: #f5cac3;
  --background-color: #84a59d;
  --navbar-color:  #f7ede2;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--navbar-color); 
  color: white;
  padding: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
  /*margin-top: 10rem;*/
  font-family: Arial;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 100px) {
  body {
    background-color: var(--background-color);
  }
}

a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

#navbar a {
  color: #f28482;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-evenly;

}

nav ul {
  list-style-type: none; 
  margin: 0;
  padding: 0;
}

nav > ul:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
  margin: 0 0.2rem;
  padding: 0.5rem;
}

.welcome-section {
  background-color: var(--section-color);
  width: 100%;
  height: 50%;
  padding: 100px;
  font-size: 30px;
}

.projects {
  padding: 50px;
}

.projects div {
  line-height: 50px;
  width: 100%;
}

.contacts {
  background-color: var(--section-color);
  width: 100%;
  height: 20%;
  padding: 100px;  
}

.contacts div {
  line-height: 40px;
}

.contacts h1 {
  font-size: 30px;
}